<% include partials/header %>
<div class="container">
  <header class="jumbotron">
    <div>
        <p>ReleaseMan App</p>
        <p>
          <a class="btn btn-primary btn-sm" href="/release">Dashboard</a>
        </p>
    </div>
  </header>
</div>

<% include partials/footer %>
