  <% include partials/header %>
  <div class="container">
    <header class="jumbotron">
      <div>
          <h3>The Release Tracker App</h3>
          <p>Salesforce release deployment information for Global SalesForce Team - CBRE</p>
          <p>
            <a class="btn btn-primary btn-sm" href="/new">Add new release</a>
          </p>
      </div>
    </header>


      <% releases.forEach(function(release){ %>
        <div>
           <%= release.org %> - <%= release.package %> - <%= release.date %>
        </div>
      <% }) %>

  </div>

  <% include partials/footer %>
