  <% include partials/header %>
  <div class="container">
    <header class="jumbotron">
      <div>
          <p>Salesforce releases deployment information for Global SalesForce Team - CBRE</p>
          <p>
            <a class="btn btn-primary btn-sm" href="/release/new">Add new release</a>
          </p>
      </div>
    </header>

     <div class="row">
        <% releases.forEach(function(release){ %>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail" style="background-color: #C38DDC" "text-align: center">
            <p>
              <li><strong>ORG_NAME: <%= release.org %></strong></li>
              <a class="btn btn-primary btn-sm" href="/">More info</a>
            </p>
            </div>
          </div>
        <% }) %>
     </div>

  </div>

  <% include partials/footer %>
